@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
    font-family: 'Poppins', system-ui, sans-serif;
    color: rgba(255, 255, 255, 0.85);
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: large;
}